\resources
\webApplication/__pycache__
\src/keras_log
\src/output_images/0.1
\src/output_images/0.01
\src/output_images/0.05
\MSA_tools/clustalw2
\MSA_tools/mafft_7.475-1_amd64.deb
\MSA_tools/muscle3.8.31_i86linux64
\MSA_tools/T-COFFEE_installer_Version_13.45.0.4846264_linux_x64.bin
\o_utput_text.txt
\src/input_fasta/BAliBASE
\src/models/model_KNeighborsClassifier.pkl
\src/models/model_CNN.h5
\src/models/model_CNN_BiLSTM.h5
\src/models/model_RandomForestClassifier.pkl
\src/models/model_GradientBoostingClassifier.pkl
\src/models/model_AdaBoostClassifier.pkl
\src/models/model_DecisionTreeClassifier.pkl